<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-left">
            
            <div class="row">
                <div class="col-md-5">
                    <app-user-detail-form></app-user-detail-form>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="search-text" 
                    aria-describedby="search-text" [(ngModel)]="searchText" 
                    placeholder="Enter full name of user" autofocus>
                    <br>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Action</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let ul of users | fullnameFilter: searchText">
                            <td (click)="viewUser(ul)" style="cursor:pointer;color:red">View details
                                <!--<a [routerLink]="['/users', ul.Id]">View user</a>-->
                            </td>
                            <td>{{ul.Name}}</td>
                            <td>{{ul.Surname}}</td>                                                     
                            <td *ngIf="ul.IsActive">
                                <i class="fas fa-check text-success"></i>
                            </td>
                            <td *ngIf="!ul.IsActive">
                                <i class="fas fa-times text-danger"></i>
                            </td>
                            <td *ngIf="ul.IsActive">
                                <button (click)="onDelete(ul.Id)"><i class="fas fa-trash text-danger"></i></button>
                            </td>
                        </tr>
                    </table>  
                </div>              
            </div>
        </div>
      </div>
    </div>
  </div>

