/*.form-group label {
    color: grey;
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  input.invalid {
    border-color: red;
  }
  
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 You can add global styles to this file, and also import other style files */

 @import "~bootstrap/dist/css/bootstrap.min.css";
/*@import "~font-awesome/css/font-awesome.min.css";*/

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}


